_sources/validators/validator-plugins/assets/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Point">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="coordinates" type="xs:string"/>
        <xs:element name="srs" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>